/** @format */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --pink: hsla(281, 83%, 54%, 1);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--light-pink);
  background-image: url("../assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  min-height: 100vh;
  min-width: 23.4375rem;
  display: grid;
  place-items: center;
  padding: 1.5rem;
}

.main {
  max-width: 37.5rem;
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition:
    padding 300ms,
    gap 300ms;
}

/* ################################## */

.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.star-icon {
  width: 1.5rem;
  height: 1.5rem;
  transition:
    width 300ms,
    height 300ms;
}

.title {
  color: var(--dark-purple);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875;
  transition: font-size 300ms;
}

/* ################################## */

.faq-item {
  transition: padding 300ms;
}

.faq-item:not(:last-child) {
  border-bottom: 1px solid var(--light-pink);
}

.faq-item:not(:first-child) {
  padding-top: 1.25rem;
}

.faq-item:not(:last-child) {
  padding-bottom: 1.25rem;
}

.faq-question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  transition: padding 300ms;
}

.faq-question {
  color: var(--dark-purple);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition:
    color 300ms,
    font-size 300ms;
}

.faq-question:hover {
  color: var(--pink);
}

.faq-question-answer-expanded {
  padding-bottom: 1.5rem;
}

.show-answer-button {
  min-width: 1.875rem;
  min-height: 1.875rem;
  aspect-ratio: 1 / 1;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-answer {
  color: var(--grayish-purple);
  font-size: 0.875rem;
  line-height: 150%;

  display: grid;
  grid-template-rows: 0fr;
  transition:
    grid-template-rows 300ms,
    font-size 300ms;
}

.faq-answer > p {
  overflow: hidden;
}

.faq-answer-expanded {
  grid-template-rows: 1fr;
}

@media (min-width: 768px) {
  body {
    background-image: url("../assets/images/background-pattern-desktop.svg");
  }

  .main {
    padding: 2.5rem;
    gap: 2rem;
    border-radius: 16px;
  }

  .star-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .faq-item:not(:first-child) {
    padding-top: 1.5rem;
  }

  .faq-item:not(:last-child) {
    padding-bottom: 1.5rem;
  }

  .faq-question {
    font-size: 1.125rem;
  }

  .faq-answer {
    font-size: 1rem;
  }
}
